# PYC Files #
*.pyc

# TXT Files#
*.txt

# CSV Files #
*.csv

# Directory 
*/__pycache__/*
*htmlcov*

#EclipseProjectFiles
.project
.pydevproject

#binaries
.coverage

# Exclude sudoku pyc
!/src/sudocu/*.pyc

# Build directories
/src/sudoku/__pycache__
/src/unitTests/writer/__pycache__
/corruptedSettings.xml
/invalidSettings.xml
/settings.xml
